/* table */
table 
{
  font-family: 'Times New Roman', Times, serif;
  border-collapse: collapse;
  width: 100%;
}
  
td
{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th
{
  background-color:antiquewhite;
}
  
tr:nth-child(odd) 
{
  background-color:aliceblue;
}

/* box */
.box
{
  height: 300px;
  width: 300px;
  background-color:cornflowerblue;
  box-shadow: 0.7em 0.7em lightgrey;
  border-radius: 10px;
}
